{% extends '@SonataAdmin/CRUD/edit.html.twig' %}

{% block title %}
    {{ 'USER_ENTITY.LOGIN'|trans({}, 'SonataAdminBundle') }}
{% endblock %}

{% block navbar_title %}
    {{ 'USER_ENTITY.LOGIN'|trans({}, 'SonataAdminBundle') }}
{% endblock %}

{% block sonata_form_action_url %}
    {{  path('admin.login_check') }}
{% endblock %}

{% block form %}
    {% if error is defined and error is not null %}
        <div class="alert">
            {{ error.message|trans(error.messageData, 'security', adminLocale) | raw }}
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block formactions %}
    <button type="submit" class="btn btn-success" name="btn_create">
        <i class="fas fa-plus-circle" aria-hidden="true"></i>
        {{ 'USER_ENTITY.BUTTON.LOGIN'|trans({}, 'SonataAdminBundle') }}
    </button>
{% endblock %}
