{% extends 'layout.main.html.twig' %}


{% block breadcrumbs %}
    {% set breadcrumbs = [
        {'url': path('reader.list'), 'title': 'Readers', 'active': true},
    ] %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <a href="{{ path('reader.add') }}" class="btn btn-success mb-2">Add</a>
    <div class="float-right mb-2 mr-2">
        {% include 'default/_partials/search-form.html.twig' with {'action': path('reader.list') }  %}
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for reader in readers %}
            <tr>
                <th scope="row">{{ reader.id }}</th>
                <td>{{ reader.first_name }}</td>
                <td>{{ reader.last_name }}</td>
                <td>{{ reader.username }}</td>
                <td>{{ reader.email }}</td>
                <td>
                    <a href="{{ path('reader.edit', {'id': reader.id}) }}" class="btn btn-success">Edit</a>
                    <a href="{{ path('reader.delete', {'id': reader.id}) }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <div class="pagination">
        {{ knp_pagination_render(readers) }}
    </div>
{% endblock %}

