{% extends 'layout.main.html.twig' %}


{% block breadcrumbs %}
    {% set breadcrumbs = [
        {'url': path('profile'), 'title': 'Profile'},
        {'url': path('profile.reading'), 'title': 'I am reading'},
    ] %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {#    <a href="{{ path('reader.add') }}" class="btn btn-info mb-2">Add</a>#}
    <div class="float-right mb-2 mr-2">
        {% include 'default/_partials/search-form.html.twig' with {'action': path('profile.reading') }  %}
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Book</th>
            <th scope="col">Author</th>
{#            <th scope="col">Reader</th>#}
        </tr>
        </thead>
        <tbody>

        {% for book in books %}
            <tr>
                <th scope="row">{{ book.id }}</th>
                <td>{{ book.title }}</td>
                <td>
{#                    {% for author in book.authors %}#}
{#                        {{ author.first_name }} {{ author.last_name }} <br />#}
{#                    {% endfor %}#}
                </td>
                <td>
{#                    {% if book.reader %}#}
{#                        {{ book.reader.first_name }} <br />#}
{#                        {{ book.reader.last_name }} <br />#}
{#                    {% endif %}#}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <div class="pagination">
        {{ knp_pagination_render(books) }}
    </div>

{% endblock %}
