{# @var \App\Admin\DecisionAdmin admin #}
{# @var \App\Entity\Decision decision #}
{# @var array sub #}

<ul>
    {% for entry in sub %}
        {% set decision = entry.decision %}
        {% set sub = entry.sub %}
        <li>
            {% set successClass = decision.final and decision.positive ? 'btn-success' : null %}
            {% set negativeClass = decision.final and not decision.positive ? 'btn-danger' : null %}
            {% set decisionUrl = admin.generateChildEditUrl(admin.getChild('admin.decision.children'), decision.parentDecision, decision) %}

            <span class="tf-nc {{ successClass }} {{ negativeClass }}">
                <a href="{{ decisionUrl }}" class="btn btn-sm {{ successClass }} {{ negativeClass }}">
                    {{ decision.translate.answer }}
                </a>
            </span>
            {% if sub is not empty %}
                {% include 'admin/CRUD/decision/_tree_sub.html.twig' with {'sub': sub} %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
