{% extends "base.html.twig" %}

{% block metaTitle %}
    {{ 'SECURITY.TITLE'|trans({}, adminTranslationDomain, adminLocale) }}
{% endblock %}

{% block stylesheets %}
    <link href="{{- preload(asset('assets/css/admin.css')) -}}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="widget">


        {#        <div class="widget-header"> #}
        {#            <div class="logo"></div> #}
        {#        </div> #}
        <div class="widget-body">
            <div class="title">
                {{ 'SECURITY.REGISTER'|trans({}, adminTranslationDomain, adminLocale) }}
            </div>
            {#            {% if error is defined and error is not null %} #}
            {#                <div class="alert"> #}
            {#                    {{ error.message|trans(error.messageData, 'security', adminLocale) | raw }} #}
            {#                </div> #}
            {#            {% endif %} #}


            <form action="{{ path('register') }}" method="post" novalidate="novalidate">
                {{ form_rest(form) }}
                <button type="submit">{{ 'SECURITY.REGISTER'|trans({}, adminTranslationDomain, adminLocale) }}</button>
            </form>

            <form action="{{ path('admin.login_check') }}" method="post">


                <input type="text" name="first_name"
                       placeholder="{{ 'USER_ENTITY.LABEL.FIRST_NAME'|trans({}, adminTranslationDomain, adminLocale) }}"
                       value="{{ app.request.get('first_name') }}" autofocus/>

                <input type="text" name="last_name"
                       placeholder="{{ 'USER_ENTITY.LABEL.LAST_NAME'|trans({}, adminTranslationDomain, adminLocale) }}"
                       value="{{ app.request.get('last_name') }}"/>

                <input type="text" name="email"
                       placeholder="{{ 'USER_ENTITY.LABEL.EMAIL'|trans({}, adminTranslationDomain, adminLocale) }}"
                       value="{{ app.request.get('email') }}"/>

                <input type="password" name="password"
                       placeholder="{{ 'USER_ENTITY.LABEL.PASSWORD'|trans({}, adminTranslationDomain, adminLocale) }}"
                       autocomplete="new-password"/>

                <hr>


                <input type="text" id="username" name="_username"
                       placeholder="{{ 'USER_ENTITY.LABEL.EMAIL'|trans({}, adminTranslationDomain, adminLocale) }}"
                       value="{{ last_username is defined ? last_username : '' }}" autofocus/>
                <input type="password" id="password" name="_password" placeholder="Password"
                       autocomplete="new-password"/>
                <div class="text-right">
                    <button type="submit">{{ 'SECURITY.LOGIN'|trans({}, adminTranslationDomain, adminLocale) }}</button>
                </div>
            </form>
        </div>


{#        $builder#}
{#        ->add('first_name', TextType::class, ['constraints' => new NotBlank()])#}
{#        ->add('last_name', TextType::class, ['constraints' => new NotBlank()])#}
{#        ->add(#}
{#        'username',#}
{#        TextType::class,#}
{#        [#}
{#        'constraints' => [new NotBlank(), new Callback([$this, 'validateFormFieldUsername'])],#}
{#        ]#}
{#        )#}
{#        ->add(#}
{#        'email',#}
{#        EmailType::class,#}
{#        [#}
{#        'constraints' => [new NotBlank(), new Email(), new Callback([$this, 'validateFormFieldEmail'])],#}
{#        ]#}
{#        )#}
{#        ->add(#}
{#        'password',#}
{#        TextType::class,#}
{#        [#}
{#        'constraints' => !$isEdit ? [new NotBlank()] : [],#}
{#        ]#}
{#        );#}


    </div>
{% endblock %}
