<nav class="sidenav nav flex-column">


    {# {% if not app.user.user %} #}
    {# {% set routes = ['login'] %} #}
    {# {% set active = app.request.attributes.get('_route') in routes ? 'active' : null %} #}
    {# <a href="{{ path('login') }}" class="nav-link {{ active }}">Login</a> #}
    {# {% endif %} #}

    {% if app.user.id is defined %}

        {% if app.user.admin %}
            {% set routes = ['crud.admin.list', 'crud.admin.add', 'crud.admin.edit'] %}
            {% set active = app.request.attributes.get('_route') in routes ? 'active' : null %}
            <a href="{{ path('crud.admin.list') }}" class="nav-link {{ active }}">Admins</a>

            {% set routes = ['crud.librarian.list', 'crud.librarian.add', 'crud.librarian.edit'] %}
            {% set active = app.request.attributes.get('_route') in routes ? 'active' : null %}
            <a href="{{ path('crud.librarian.list') }}" class="nav-link {{ active }}">Librarians</a>

            {% set routes = ['crud.reader.list', 'crud.reader.add', 'crud.reader.edit'] %}
            {% set active = app.request.attributes.get('_route') in routes ? 'active' : null %}
            <a href="{{ path('crud.reader.list') }}" class="nav-link {{ active }}">Readers</a>

            {% set routes = ['crud.author.list', 'crud.author.add', 'crud.author.edit'] %}
            {% set active = app.request.attributes.get('_route') in routes ? 'active' : null %}
            <a href="{{ path('crud.author.list') }}" class="nav-link {{ active }}">Authors</a>

            {% set routes = ['crud.book.list', 'crud.book.add', 'crud.book.edit'] %}
            {% set active = app.request.attributes.get('_route') in routes ? 'active' : null %}
            <a href="{{ path('crud.book.list') }}" class="nav-link {{ active }}">Books</a>

        {% endif %}

        {# {% set routes = ['profile'] %} #}
        {# {% set active = app.request.attributes.get('_route') in routes ? 'active' : null %} #}
        {# <a href="{{ path('profile') }}" class="nav-link {{ active }}">Profile</a> #}

        {# {% if app.user.author %} #}
        {# {% set routes = ['profile.author'] %} #}
        {# {% set active = app.request.attributes.get('_route') in routes ? 'active' : null %} #}
        {# <a href="{{ path('profile.author') }}" class="nav-link {{ active }}">I am writer</a> #}
        {# {% endif %} #}

        {# {% if app.user.reader %} #}
        {# {% set routes = ['profile.reader'] %} #}
        {# {% set active = app.request.attributes.get('_route') in routes ? 'active' : null %} #}
        {# <a href="{{ path('profile.reader') }}" class="nav-link {{ active }}">I am reading</a> #}
        {# {% endif %} #}


        {% set routes = ['reading'] %}
        {% set active = app.request.attributes.get('_route') in routes ? 'active' : null %}
        <a href="{{ path('reading') }}" class="nav-link {{ active }}">I am reading</a>

        {% set routes = ['profile'] %}
        {% set active = app.request.attributes.get('_route') in routes ? 'active' : null %}
        <a href="{{ path('profile') }}" class="nav-link {{ active }}">Profile</a>

        <a href="{{ path('logout') }}" class="nav-link">Logout</a>


    {% else %}
        {# not loggedin user #}

        {% set routes = ['books'] %}
        {% set active = app.request.attributes.get('_route') in routes ? 'active' : null %}
        <a href="{{ path('books') }}" class="nav-link {{ active }}">Books</a>

        {% set routes = ['register'] %}
        {% set active = app.request.attributes.get('_route') in routes ? 'active' : null %}
        <a href="{{ path('register') }}" class="nav-link {{ active }}">Register</a>

        {% set routes = ['login'] %}
        {% set active = app.request.attributes.get('_route') in routes ? 'active' : null %}
        <a href="{{ path('login') }}" class="nav-link {{ active }}">Login</a>
    {% endif %}
</nav>
