
{% if app.user.id is defined %}


    <nav class="sidenav nav flex-column">

        {% if app.user.admin %}
            {% set routes = ['admin.list', 'admin.edit'] %}
            {% set active = app.request.attributes.get('_route') in routes ? 'active' : null %}
            <a href="{{ path('admin.list') }}" class="nav-link {{ active }}">Admins</a>

            {% set routes = ['reader.list', 'reader.edit'] %}
            {% set active = app.request.attributes.get('_route') in routes ? 'active' : null %}
            <a href="{{ path('reader.list') }}" class="nav-link {{ active }}">Readers</a>

            {% set routes = ['author.list', 'author.edit'] %}
            {% set active = app.request.attributes.get('_route') in routes ? 'active' : null %}
            <a href="{{ path('author.list') }}" class="nav-link {{ active }}">Authors</a>

            {% set routes = ['book.list', 'book.edit'] %}
            {% set active = app.request.attributes.get('_route') in routes ? 'active' : null %}
            <a href="{{ path('book.list') }}" class="nav-link {{ active }}">Books</a>

        {% endif %}

        {% set routes = ['profile'] %}
        {% set active = app.request.attributes.get('_route') in routes ? 'active' : null %}
        <a href="{{ path('profile') }}" class="nav-link {{ active }}">Profile</a>

        {% if app.user.author %}
            {% set routes = ['profile.author'] %}
            {% set active = app.request.attributes.get('_route') in routes ? 'active' : null %}
            <a href="{{ path('profile.author') }}" class="nav-link {{ active }}">I am writer</a>
        {% endif %}

        {% if app.user.reader %}
             {% set routes = ['profile.reader'] %}
             {% set active = app.request.attributes.get('_route') in routes ? 'active' : null %}
            <a href="{{ path('profile.reader') }}" class="nav-link {{ active }}">I am reading</a>
        {% endif %}

        <a href="{{ path('logout') }}" class="nav-link">Logout</a>
    </nav>

{% endif %}
